/* Tabs */
/* configure the tab buttons */
.charsheet .sheet-stats,
.charsheet .sheet-attributes,
.charsheet .sheet-defects {
    display: none;
}

/* style the active button */
.charsheet .sheet-tabstoggle[value="stats"] ~ div .sheet-button0 {outline: 2px solid rgb(0, 255, 0);}
.charsheet .sheet-tabstoggle[value="attributes"] ~ div .sheet-button1 {outline: 2px solid rgb(0, 0, 255);}
.charsheet .sheet-tabstoggle[value="defects"] ~ div .sheet-button2 {outline: 2px solid rgb(255, 0, 0);}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="stats"] ~ div.sheet-stats,
.charsheet .sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.charsheet .sheet-tabstoggle[value="defects"] ~ div.sheet-defects {
    display: block;
}
/* Character Sheet */